/* package-details.css */

.package-details-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* background-color: #110569; */
    /* position: relative; */
  }
  
  
  .cover-image {
    width: 100%;
    /* height: 300px; */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .cover-image img{
    width:100%;
    height:70vh;
    border-radius: 15px;
  }
  .package-title{
    margin-top: 3rem;
    text-align: center;
    color: #070707;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
  }
  .package-title h1{
    font-size: 36px;
    font-weight: 700;
  }
  .image-row{
    margin-top: 3rem;
  }
  .image-row img{
    height: 20rem;
    margin: 10px auto;
    /* margin-bottom: 20px; */
  }
  .pack-desc{
    width: 100%;
    margin-top: 3rem;
    color: #070707;
    font-size: 20px;
  }
  .pack-desc h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  
  .icon{
    border: 1px solid #DEDEDE;
    background-color: #FFF;
    border-radius: 10px;
    padding: 12px;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    
  }
  .info-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #070707;
    /* width: 5.5rem; */
    /* margin: 0; */
  }
  .info-value{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
.details-row{
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;
  /* padding-left: 6rem;  */
}
.facilities{
    display: flex;
    flex-direction: column;
    /* width: 6%; */
    margin-top: 3rem;
    color: #070707;
    font-size: 20px;
    /* border: 1px solid #070707; */
    border-radius: 10px;
    

}
.facilities h1{
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}
.facility-list{
  list-style: none;
}
.book-form{
  border: 1px solid #727272;
  border-radius: 10px;
  margin-top: 3rem;
}
.price{
  font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
}
.form-person,.form-date,.total-price{
  padding: 20px;
  border-bottom: 1px solid #dedede;
}