.search-container {
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 80px;
  padding-bottom: 60px;
  
  background-image: url("/static/find.jpg");
  color: #fff;
  height: auto;
  /* position:relative;  */
}

.align-items-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}